body{
    display: flex;
    margin: 0;
    align-items: center;
    flex-direction: column;
    background-color: rgb(252, 252, 252);



}
main
{
    width: 80%;
    height: 100vh;
    /* background-color: rgb(247, 235, 235); */
    display: flex;
    padding: 21px;

}
.container{
    display: flex;
    width: 100%;
    /* background-color: rgb(210, 242, 210); */
    row-gap: 5px;
    padding: 21px;
    flex-direction: column;
   


}
.row{
    width: 100%;
    height: 33%;
    /* background-color: blueviolet; */
     /* box-shadow: 1px 1px 0px rgb(213, 218, 219); */


}
.row_1{
    display: flex;
    justify-content: space-around;
    column-gap: 5px;
}
.row_1 .child{
    background-color: rgba(215, 216, 168, 0.299);
    border-radius: 3px;
    /* border: solid 1px rgba(116, 116, 233, 0.452); */
    border-left:solid 1px orange;

    
}
.child-right{
    width: 60%;
}
.row_2{
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
}
.row_2 .child{
    width: 33%;
    background-color: rgba(169, 171, 119, 0.299);
    border-radius: 3px;
    /* border: solid 1px rgba(137, 137, 237, 0.485); */
    border-left: solid 1px blue;

}
.row_3{
    width: 100%;
    height: 20vh;
    background-color:  rgba(200, 201, 167, 0.666);
    border-radius: 3px;
    /* border: solid 1px rgba(177, 177, 245, 0.547); */
    row-gap: 5px;
    border-left: solid 1px red;

}
.row_3 .child{
    width: 30%;
    row-gap: 5px;

}
h3{
    margin-left: 10px;
}
p{
    margin-left: 15px;
}


